<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>ACE后台管理html模板</title>
		

		<!-- basic styles -->

		<link href="assets/css/bootstrap.min.css"  th:href="@{http://www.jiazwalstatic.com/assets/css/bootstrap.min.css}" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" th:href="@{http://www.jiazwalstatic.com/assets/css/font-awesome.min.css}" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"  th:href="@{http://www.jiazwalstatic.com/assets/css/font-awesome-ie7.min.css}"/>
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- ace styles -->

		<link rel="stylesheet" href="assets/css/ace.min.css"  th:href="@{http://www.jiazwalstatic.com/assets/css/ace.min.css}"/>
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css"  th:href="@{http://www.jiazwalstatic.com/assets/css/ace-rtl.min.css}"/>

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" th:href="@{http://www.jiazwalstatic.com/assets/css/ace-ie.min.css}"/>

		<script src="assets/js/html5shiv.js" th:src="@{http://www.jiazwalstatic.com/assets/js/html5shiv.js}"></script>
		<script src="assets/js/respond.min.js" th:src="@{http://www.jiazwalstatic.com/assets/js/respond.min.js}"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
								
									<span class="red">欢迎</span>
									<span class="white">登录</span>
								</h1>

							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												请登录
											</h4>

											<div class="space-6"></div>

											<form    method="post"  th:action="@{/user/login}">
												<fieldset>
													<label class="block clearfix">
														<span th:text="${msg}" style="color: red;"></span>
														<span class="block input-icon input-icon-right" >

															<input type="text"  name="username" class="form-control" placeholder="用户名" />
															<i class="icon-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control" placeholder="密码" />
															<i class="icon-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">

															<span class="lbl"> </span>
														</label>

														<button type="submit" class="width-35 pull-right btn btn-sm btn-prim
														ary">
															<i class="icon-key"></i>
															登录
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											<div class="social-or-login center">
												<span class="bigger-110">欢迎</span>
											</div>


										</div><!-- /widget-main -->

										<div class="toolbar clearfix">
											<div>
												<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">


												</a>
											</div>

											<div>
												<a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">


												</a>
											</div>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /login-box -->





									</div><!-- /widget-body -->
								</div><!-- /signup-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="assets/js/jquery-2.0.3.min.js" th:src="@{http://www.jiazwalstatic.com/assets/js/jquery-2.0.3.min.js}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'  th:src='@{http://www.jiazwalstatic.com/assets/js/jquery-2.0.3.min.js}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'  th:src='@{http://www.jiazwalstatic.com/assets/js/jquery-1.10.2.min.js}'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js' th:src='@{http://www.jiazwalstatic.com/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->


	
</body>
</html>
